* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./image.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  padding: 10px;
  position: relative;

  display: flex;
  gap: 5px;
}

.sound-bar {
  height: 100%;
  width: calc(100% / 32);
  position: relative;
  pointer-events: none;
}

.sound-bar::before {
  content: '';
  position: absolute;
  top: 0;
  height: var(--bar-height, 2px);
  width: 100%;
  background:
    linear-gradient(to right, var(--bg-start), var(--bg-end)),
    linear-gradient(to bottom, transparent, #fff);
  border-radius: 0 0 2px 2px;

  opacity: 0.1;

  transform-origin: top;

  filter: drop-shadow(0 0 5px var(--bg-start));

  transition: height 0.1s ease-out;
  will-change: height;
}

.sound-bar::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: var(--bar-height, 2px);
  width: 100%;
  background:
    linear-gradient(to right, var(--bg-start), var(--bg-end)),
    linear-gradient(to top, transparent, #fff);
  border-radius: 2px 2px 0 0;

  transform-origin: bottom;

  filter: drop-shadow(0 0 5px var(--bg-start));
  transition: height 0.1s ease-out;
  will-change: height;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19191980;
  backdrop-filter: blur(50px);
  z-index: 2;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #191919;
  transition: opacity 1s linear;
  z-index: 1;
}

.ring {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(./image.png);
  /* animation: rotate 15s linear infinite; */
  transform: translateY(-20%);
}

.ring.rotating {
  animation: rotate 15s linear infinite forwards;
}

.ring.paused {
  animation-play-state: paused;
}

.ring::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: inherit;
  width: inherit;
  border: 2px solid #ffffff80;
  border-radius: 50%;
  z-index: -1;
  filter: drop-shadow(0 0 10px #fff);
  /* animation: wave 1s ease-out infinite; */
}

.player {
  width: 0;
  height: 0;
}

@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(-20%) rotate(0deg);
  }

  100% {
    transform: translateY(-20%) rotate(360deg);
  }
}
