* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
}
.row {
  display: flex;
  gap: 10px;
}

.out-box {
  position: relative;
  width: 50px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.inner-box {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 76px;
  background-color: #ffffff80;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box.active {
  background: conic-gradient(
    hsl(0 100% 50%),
    hsl(30 100% 50%),
    hsl(60 100% 50%),
    hsl(90 100% 50%),
    hsl(120 100% 50%),
    hsl(150 100% 50%),
    hsl(180 100% 50%),
    hsl(210 100% 50%),
    hsl(240 100% 50%),
    hsl(270 100% 50%),
    hsl(300 100% 50%),
    hsl(330 100% 50%),
    hsl(360 100% 50%)
  );
  animation: loop 800ms linear infinite;
}

.text-box {
  position: absolute;

  font-size: 24px;
  font-weight: bold;
  color: #ffffff80;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  width: 48px;
  height: 54px;
  border-radius: 5px;
}

.result {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  background-color: #ffffff80;
  width: 500px;
  height: 50px;
  font-size: 20px;
  color: #ffffff80;
}

@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
