* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #191919;

  text-transform: uppercase;
}

.box {
  position: relative;
  font-size: 50px;
  font-weight: 900;
  transform: skew(-12deg);
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: 0;
  padding: 0 10px;
  letter-spacing: 0.1em;
}

.base {
  position: relative;
  color: #ffe600;
  text-shadow:
    0 0 10px rgba(255, 230, 0, 0.6),
    0 0 25px rgba(255, 230, 0, 0.25);
  z-index: 1;
}

.cyan {
  left: -4px;
  color: #00ffff;
  opacity: 0.7;
  /* animation: rgb-cyan 5s infinite; */
}

.magenta {
  left: 4px;
  color: #ff0055;
  opacity: 0.7;
  /* animation: rgb-magenta 5s infinite; */
}

@keyframes rgb-cyan {
  0%,
  88%,
  100% {
    transform: translate(0);
  }

  89% {
    transform: translate(-6px, 0);
  }

  90% {
    transform: translate(8px, 0);
  }

  91% {
    transform: translate(-3px, 0);
  }

  92% {
    transform: translate(0);
  }
}

@keyframes rgb-magenta {
  0%,
  88%,
  100% {
    transform: translate(0);
  }

  89% {
    transform: translate(6px, 0);
  }

  90% {
    transform: translate(-8px, 0);
  }

  91% {
    transform: translate(4px, 0);
  }

  92% {
    transform: translate(0);
  }
}

.slice {
  color: #ffe600;
  z-index: 20;
}

.slice-top {
  clip-path: inset(0 0 70% 0);
  animation: slice-top 4s infinite;
}

.slice-mid {
  clip-path: inset(30% 0 30% 0);
  animation: slice-mid 4s infinite;
}

.slice-bottom {
  clip-path: inset(70% 0 0 0);
  animation: slice-bottom 4s infinite;
}

@keyframes slice-top {
  0%,
  90%,
  100% {
    transform: none;

    opacity: 0;
  }

  91% {
    opacity: 1;

    transform: translateX(-30px);
  }

  92% {
    transform: translateX(25px);
  }

  93% {
    transform: translateX(-10px);
  }

  94% {
    transform: none;
  }
}
@keyframes slice-mid {
  0%,
  86%,
  100% {
    transform: none;

    opacity: 0;
  }

  87% {
    opacity: 1;

    transform: translateX(40px);
  }

  88% {
    transform: translateX(-35px);
  }

  89% {
    transform: translateX(15px);
  }

  90% {
    transform: none;
  }
}
@keyframes slice-bottom {
  0%,
  83%,
  100% {
    transform: none;

    opacity: 0;
  }

  84% {
    opacity: 1;

    transform: translateX(-40px);
  }

  85% {
    transform: translateX(30px);
  }

  86% {
    transform: translateX(-15px);
  }

  87% {
    transform: none;
  }
}
